<% include _header %>
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <section class="content-header">
      <!-- make me better -->
        <!-- <h1>
          Simple Tables
          <small>preview of simple tables</small>
        </h1> -->
      </section>
      <!-- ./make me better -->

      <!-- Content Header (Page header) -->
      <div class="row">
      <!-- product input -->
      <div class="col-md-2">
      <div class="box-header">
        <i class="fa fa-edit"></i>

        <h3 class="box-title">记账</h3>
      </div>
      <a class="btn btn-app" data-toggle="modal" data-target="#productModal" data-whatever="@mdo"><!-- <span class="badge bg-green">录入</span> --><i class="fa fa-barcode"></i>Products</a>

      <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">信息录入</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">品牌:</label>
                  <input type="text" class="form-control" id="brandname" name="brandname" required>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">名称:</label>
                  <input type="text" class="form-control" id="productname" name="productname">
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">编码:</label>
                  <input type="text" class="form-control" id="productnum" name="productnum">
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">数量:</label>
                  <input type="text" class="form-control" id="number" name="number">
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">价格:</label>
                  <input type="text" class="form-control" id="price" name="price">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="prodbtn">提交</button>
            </div>
          </div>
        </div>
      </div>      
      </div>
      <!-- ./记账icon -->


      <div class="col-md-10">
      <div class="box-header">
        <i class="fa fa-credit-card"></i>

        <h3 class="box-title">入库</h3>
      </div>
      <a class="btn btn-app" data-toggle="modal" data-target="#toProcessModal" data-whatever="@mdo"><!-- <span class="badge bg-green">录入</span> --><i class="fa fa-play"></i>Products</a>

      <div class="modal fade" id="toProcessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">入库处理</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">运费:</label>
                  <input type="text" class="form-control" id="freight" name="freight" required>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">备注:</label>
                  <input type="text" class="form-control" id="addinfo" name="productname">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="toprocessbtn">提交</button>
            </div>
          </div>
        </div>
      </div>      
      </div>


      </div>
      <div class="row">
      <!-- /product input -->
      <div class="col-md-12">
      <!-- table display -->
      <div class="box" id="product_info">
          <div class="box-header">
            <h3 class="box-title">清单</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
          <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
            <thead>
            <tr role="row"><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">品牌</th><th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="descending">商品名称</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">商品编号</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">数量</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">价格</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">修改</th></tr>
            </thead>
            <!-- <tbody id="product_items"> -->
               <tbody id="product_items"> 
            <% if (products) {%> 
                        <% products.forEach(function(product) { %> 
                                <tr role=\"row\" class=\"odd\"> 
                                <td><%= product.brandname %></td> 
                                <td class="sorting_1"><%= product.productname %></td> 
                                <td><%= product.productnum %></td> 
                                <td><%= product.number %></td> 
                                <td><%= product.price %></td> 
                                <td><a href="/modify/<%= product._id %>" >修改</a></td> 
                                </tr> 
                        <% }) %> 
                        <% } %> 
            </tbody> 
            <!-- </tbody> -->
          </table></div></div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 51 to 57 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button previous" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next disabled" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div></div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /table display -->
      </div>
      </div>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
<% include _footer %>